div.level.custom-level-margin {
    margin-bottom: 6px;
}

div.level-left.custom-level-left {
    width: 80%;
}

.hideable {
    z-index: 2;
    transition: opacity 0.1s linear;
}

.hide {
    z-index: 0;
    opacity: 0;
}

.tab-group-overlay {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding-bottom: 2%;
}